@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  display: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Poppins Regular */
@font-face {
  font-family: "Poppins";
  src: url("./assets/poppins/Poppins-Regular.woff2") format("woff2"),
    url("./assets/poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Poppins Bold */
@font-face {
  font-family: "Poppins";
  src: url("./assets/poppins/Poppins-Bold.woff2") format("woff2"),
    url("./assets/poppins/Poppins-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
